.App {
  text-align: center;
  min-height: 100vh;
  position: relative;

  background: url(./assets/images/bg.jpg);
  background-size: cover;
  /* background: #0c0e18; */
  /* background: #000000;
  background: -webkit-linear-gradient(to top, #434343, #000000);
  background: linear-gradient(to top, #434343, #000000); */
}
#tsparticles {
  position: absolute;
  z-index: -1;
}
